<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class=" " style="height: auto; width: 80%; margin-left: 10%">
        <h1 style="text-align: center"><b>LIVELY HOMES</b></h1>
    </div>
    <hr />

    <h4 style=""><b>New Tenant Registration</b></h4>

    <div class=""
         style="
        background-color: darkgreen;
        color: white;
        width: 80%;
        margin-left: 10%;
        height: auto;
        border: 2px outset pink;

        border-radius: 10px;
        box-shadow: 10px 10px yellow;
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
         border-style:double;
        overflow:scroll;

      ">
        <p style="text-align: center">
            Hi there ,The system is running fine as at 5 seconds ago
        </p>
    </div>
</body>
</html>