<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class=" " style="height: auto; width: 80%; margin-left: 10%">
        <h style="text-align: center"><b>LIVELY HOMES</b></h>
    </div>

    <hr />
    <div>
        <h5 style=""><b>House Registration</b></h5>
    </div>
    <hr />

    <hr />
    <div>
        <h4 class="" value="">Hey There</h4>
    </div>
    <div class=""
         style="
        background-color: darkgreen;
        color: white;
        width: 80%;
        margin-left: 10%;
        height: auto;
        border: 2px outset pink;
        border-style: outset;
        border-radius: 10px;
        border-style:double;
        overflow:scroll;
        box-shadow: 10px 10px yellow;
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
      ">
        <p style="text-align: center">
            WELCOME ABOARD!! <br />Thank you for registering a house at Lively Homes
            .
        </p>
    </div>
</body>
</html>
