<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>PAYMENT RECEIPT</title>
</head>
<body>
    <div style="
   color:black;">
        <p>
            ................................................................................
            ..................................................................................

        </p>
        <div class="" style="margin-left:15px;">

            <h4 style="font-family:'Times New Roman', Times, serif;color:darkblue;">REPAIR REQUEST</h4>

            <p style="font-family:'Bell MT'"> Howdy,  user_name,</p>
            <div>
              
                <div class="" style="margin-left:20px;">

                    <p>A  new repair request  that requires your attention has  been made, kindly log in to  <a href="http://localhost:8080/">Lively Homes {LH)</a> to attend to it</p>

                </div>


            </div>

            <footer>

                <p>

                    <small style="font-family:'Bauhaus 93'">
                        Date : <small style="font-family:Ebrima">currentdate</small>

                    </small> <br />
                    <small style="background-color:aliceblue; color:green;box-shadow:2px 4px 6px orange">copyright@livelyhomes2023</small>




                </p>
            </footer>
        </div>
    </div>

    <p>
        ..........................................................................
        ......................................................................................
        ............................

    </p>
</body>
</html>