<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class=" " style="height: 100px; width:100%;border-radius:3px;">
        <h1 style="text-align: center"><b>LIVELY HOMES</b></h1>

        <hr />

        <h4 style=""><b>Tenant Registration</b></h4>

        <div class=""
             style="
  
         border-radius:inherit;
          width: 90%;
          margin-left:5%;
          height: 80px;


          border-style: outset;
          
          box-shadow: 10px 10px 10px 10px red;
          font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
       
        ">
            <p style="text-align:center;font-size:15px;">
                Hi there, you registered a new tenant on Lively Homes successfully
            </p>
        </div>
    </div>
</body>
</html>
