<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body style="border:2px solid white;">
    <div class="" style="">
        <h3><u  style="font-family:Algerian">Successful Login</u> </h3>
        Dear  names
        <p>body</p>
        <br />
        <footer>
            <label>Sent On: </label>
            <small>sentOn</small>
            <br />
            For more information <br />
            Phone: 0721233204,<br />
            Email: livelyhomes00@gmail.com
        </footer>
        <br/>
        <small><i>copyrights@livelyhomescurrentyear</i></small>


    </div>
</body>
</html>