<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>PAYMENT RECEIPT</title>
</head>
<body>
    <div style="
     background-color:darkorange; color:black;border:2px solid black;">
        <p>..........................................................................
        ...............................................................................
     
       </p>
        <div class="" style="margin-left:15px;">

            <h4 style="font-family:'Times New Roman', Times, serif;color:darkblue;">PAYMENT NOTIFICATION</h4>

            <p style="font-family:'Bell MT'"> Hi  user_name,</p>

            <p> Your payment of Ksh. rent_amount  is well received.</p>
            <p style="font-family:'Lucida Sans',
       'Lucida Sans Regular', 'Lucida Grande',
       'Lucida Sans Unicode',
       Geneva, Verdana, sans-serif">Here is your current updated account status</p>
            <div>
                <table class="" style="border:2px solid;">
                    <tr>
                        <th style="border:1px solid blue; ">
                            Tenant names
                        </th>
                        <th style="border:1px solid blue; ">
                            Pending Amount
                        </th>
                        <th style="border:1px solid blue;">
                            Caretaker Phone
                        </th>
                        <th style="border:1px solid blue; ">
                            House Name
                        </th>
                        <th style="border:1px solid blue; ">
                            House Location
                        </th>
                    </tr>
                    <tr>
                        <td style="border:1px solid blue; ">tenant_names</td>
                        <td style="border: 1px solid blue;">Balance</td>
                        <td style="border: 1px solid blue;">caretaker_contact</td>
                        <td style="border: 1px solid blue;">house_name</td>
                        <td style="border: 1px solid blue;">House_Location</td>
                    </tr>
                </table>
            </div>

            <footer>
                <p>                   
                    ..............................................................................
                    ...............................................................................
                </p>
                <p>

                    <small style="font-family:'Bauhaus 93'">
                        Date : <small style="font-family:Ebrima">sentOn</small>

                    </small> <br />
                    <small style="background-color:aliceblue; color:green;box-shadow:2px 4px 6px orange">copyright@livelyhomes2023</small>




                </p>
            </footer>
        </div>
    </div>
</body>
</html>