<!DOCTYPE html>
<html>
<head>
   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" 
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
          crossorigin="anonymous">
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class=" " style="height: auto; width: 80%; margin-left: 10%">
        <h1 style="text-align: center"><b  style="color:darkblue">LIVELY HOMES</b></h1>
    </div>
    <hr />
    <button class="" style="background-color:darkblue;border:2px solid yellow; color:white;">  <p style="">Dear   receivername, </p></button>

    <h4 style=""><b>Our Response on your earlier raised issue</b></h4>



    <div style="">
        <h5 class="" style="">Your Question  </h5>
    </div>

    <div style="width:80%; margin-left:10%; ">
        <p style=""><b> subject</b></p>
         </div>
        <div style="width:80%; margin-left:10%;">
            <p style="text-align:justify;font-style:italic">

                Message
            </p>
        </div>


        <div class="" style="">

            <h5 style="">Our Response:</h5>
        </div>


        <div class=" " style="height:auto; width:80%;margin-left:10%;">
            <p style=""> replymessage</p>

        </div>

        <div class="" style="height:auto;width:80%; margin-left:10%;">
            <p style="">Date Sent: sentDate</p>
            <p style=""> sent by agentname</p>


            <div class="">
                <small> <span style="">Lively homes  </span> Tel:  <span>companyphone</span>
            </div> </small>
        </div>
    </div>


    <div class="bg-succes" style="height:auto; width:80%; margin-left:10%;">

        <div class="form-control"
    </div>

</body>
</html>