<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>

    <style>

        .mainbody {
            height: 200px;
            width: 100%;
            color:white;
            background-color: darkblue;
            border:3px solid green;
            border-style:dotted;

        }

        .textclass {
            color: white;
            text-align: center;
        }

        .addressdiv {
            text-align: justify;
        }
    </style>
</head>
<body>
    <div class="mainbody">
        <p class="textclass"> Hi there your message is well received we will contact you shortly</p>

        <div class="addressdiv">

            <p class="textclass"> Telephone:254721233204</p>
            <p class="textclass">Twitter:@livelyhomes </p>
            <p class="textclass">   Email:livelyhomes0@gmail.com</p>
        </div>
    </div>

</body>
</html>